<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a product</title>
</head>
<body style="text-align: center;">
    <h1>Add a product</h1>
    <form action="#" th:action="@{/products/add}" th:object="${product}" method="post">
        <table>
            <thead>
                <tr class="headings">
                    <th th:each="header: ${headers}" th:text="${header}" />
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td th:each="header: ${headers}">
                        <input th:field="*{__${row.get(header)[1]}__}" type="text" th:pattern="${row.get(header)[0]}" required/>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Submit">
    </form>
</body>
</html>