<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="|Editing product '${row.get('Name')[2]}'|"></title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="/scripts/products.js"></script>
</head>
<body style="text-align: center;">
    <h1 th:text="|Editing product '${row.get('Name')[2]}'|"/>
        <table>
            <thead>
            <tr class="headings">
                <th th:each="header: ${headers}" class="column-title" th:text="${header}" />
            </tr>
            </thead>

            <tbody>
            <tr>
                <td th:each="header: ${headers}">
                    <input th:id="${row.get(header)[1]}" type="text" th:pattern="${row.get(header)[0]}" th:value="${row.get(header)[2]}" required/>
                </td>
            </tr>
            </tbody>
        </table>
        <button th:onclick="|saveProduct(${row.get('ID')[0]})|">Save changes</button> <a href="/products"><button>Cancel editing</button></a>
</body>
</html>